.home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin-left: 200px;
    margin-top: 100px;
    width: 70%;
}

.home h2,
.home .nome,
.home .frase {
    font-family: 'Raleway', sans-serif;
}

.home h2 {
    color: #4cc8b2;
    font-size: 18px;
    font-weight: 600;
}

.home .nome {
    color: #CCD8F8;
    font-size: 60px;
    font-weight: 600;
}

.home .frase {
    font-size: 40px;
    font-weight: 600;
}

.home .frase,
.home div p {
    color: #8892B0;
}

.home div {
    max-width: 60%;
}

.home div p {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
}

/* Responsivo */

@media(max-width: 900px) {
    .home {
        margin-top: 40px;
        margin-left: 50px;
    }
}

@media(max-width: 768px) {
    .home {
        width: 90%;
    }

    .home .nome {
        font-size: 50px;
    }
    
    .home .frase {
        font-size: 30px;
    }

    .home div {
        max-width: 90%;
    }
}

@media(max-width: 500px) {
    .home {
        align-items: center;
        text-align: center;
        margin: 20px;
    }

    .home .nome {
        font-size: 30px;
    }
    
    .home .frase {
        font-size: 20px;
    }
}